body {
    font-family: "Bangers", cursive;
    max-width: 1030px;
    padding-left: 5%;
    padding-right: 5%;
    display: table-cell;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #3b3b3b;
}

html {
    display: table;
    margin: auto;
}

img {
    align-self: center;
}

h1 {
    align-self: center;
    font-size: 38px;
    color: #3b3b3b;
    padding-top: 20px;
}

#user-score {
    padding-right: 5px;
}

#user-name,
#user-score {
    display: inline;
    font-size: 14px;
}

#computer-label,
#computer-score {
    display: inline;
    font-size: 14px;
}

#computer-roundswon,
#rounds-one-pc {
    display: inline;
    font-size: 18px;
}

#user-roundswon,
#rounds-won-user {
    display: inline;
    font-size: 18px;
    clear: both;
}

#lightningcomputer {
    width: 40%;
    clear: both;
}

#lightningplayer {
    width: 40%;
    clear: both;
}

.score-board,
.user-score,
.computer-score {
    display: flex;
    align-self: center;
    align-content: center;
    padding-left: 40%;
}

.result-text {
    font-size: xx-large;
}

/*To flip images when on the pc option of screen so the images mirror eachother*/
.flip-horizontal {
    transform: scaleX(-1);
}

.choice {
    display: flex;
    align-content: center;
}

.title-makechoice {
    color: #3b3b3b;
    align-self: center;
    font-size: 24px;
    padding-top: 20px;
    font-family: "Bangers", cursive;
}

.game-options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
}

.player-answer {
    transform: scale(0.3);
    padding: 0;
    justify-self: center;
}

.pc-answer {
    transform: scale(0.3);
    padding: 0;
    justify-self: center;
}

.forcealign {
    display: inline-block;
    overflow: auto;
}

/* Choose weapon section*/
.chooseweapon {
    height: 100px;
    width: 60%;
    align-self: center;
    border: 0;
    flex-wrap: nowrap;
}

#rockimg {
    width: 50%;
}

#paperimg {
    width: 50%;
}

#scissorimg {
    width: 50%;
}

.rock {
    background: url("/assets/images/rock.png") center;
    background-size: 30%;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

.paper {
    background: url("/assets/images/paper.png") center;
    background-size: 30%;
    transition: transform 0.3s;
    /* Animation */
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

.scissors {
    background: url("/assets/images/scissors.png") center;
    background-size: 30%;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

/*code to overwrite the default bootstrap modal styling*/
.modal.custom .modal-dialog {
    width: 50%;
    margin: 0 auto;
}

.who-wins {
    align-self: center;
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: 0.1rem;
    font-size: 0.5rem;
    color: #3b3b3b;
}

.result-selection {
    opacity: 0.5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}

/*Media query for mobile phones*/

@media screen and (max-width: 480px) {

    .title-makechoice {
        color: #3b3b3b;
        align-self: center;
        font-size: 24px;
        padding-top: 4px;
        font-family: "Bangers", cursive;
    }

    #lightningcomputer {
        width: 80%;
        clear: both;
    }

    #lightningplayer {
        width: 80%;
        clear: both;
    }

    h1 {
        align-self: center;
        font-size: 50px;
        color: #3b3b3b;
        padding-top: 10px;
    }

    .result-text {
        font-size: 20px;
    }

    #playerimg {
        width: 80%;
        height: auto;
    }

    #middleImg {
        width: 132%;
        height: 63%;
        border-top: 55px;
    }

    #computerimg {
        width: 80%;
        height: auto;
    }
}

/*Media query for tablets*/

@media (481px <=width <=1024px) {


    h1 {
        align-self: center;
        font-size: 50px;
        color: rgb(59, 59, 59);
        padding-top: 10px;
    }

    .title-makechoice {
        color: #3b3b3b;
        align-self: center;
        font-size: 24px;
        padding-top: 4px;
        font-family: "Bangers", cursive;
    }

    .result-text {
        font-size: 20px;
    }

    #playerimg {
        width: 60%;
        height: auto;
    }

    #middleImg {
        width: 100%;
        height: 100%;
        border-top: 55px;
    }

    #computerimg {
        width: 60%;
        height: auto;
    }
}