body {
    background-color: rgb(233, 81, 81);
    font-family: 'Bangers', cursive;
    size: 22px;
}

.score-board,
.user-score,
.computer-score {
    display: flex;
    align-self: center;
    align-content: center;
    padding-left: 40%;
}

.result-text {
    font-size: xx-large;
}


/*To flip images when on the pc option of screen so the images mirror eachother*/
.flip-horizontal {
    transform: scaleX(-1);
}

.top-menu {
    display: flexbox;
    width: 40%;
    flex-wrap: nowrap;
    align-self: flex-end;
    justify-self: flex-end;
    padding-bottom: 40px;
}

.gametitle {
    align-self: center;
    font-size: 90px;
    color: rgb(54, 53, 53);
    padding-top: 20px;
}

.title-makechoice {
    align-self: center;
    font-size: 50px;
    color: rgb(54, 53, 53);
    padding-top: 20px;
    font-family: 'Bangers', cursive;
}

.game-options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;

}

.player-answer {
    transform: scale(.3);
    padding: 0;
    justify-self: center;
}

.pc-answer {
    transform: scale(.3);
    padding: 0;
    justify-self: center;
}

.vs {
    background-size: contain;
    background-repeat: no-repeat;
    justify-self: center;
    justify-content: center;
}

/* Choose weapon section*/
.chooseweapon {
    height: 100px;
    width: 60%;
    align-self: center;
    border: 0;
    flex-wrap: nowrap;
}

#rockimg {
    width: 50%;
}

#paperimg {
    width: 50%;
}

#scissorimg {
    width: 50%;
}

.rock {
    background: url("/assets/images/rock.png") center;
    background-size: 30%;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

.rock:hover {
    transform: scale(1.5);
}

.paper {
    background: url("/assets/images/paper.png") center;
    background-size: 30%;
    transition: transform .3s;
    /* Animation */
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

.paper:hover {
    transform: scale(1.5);
}

.scissors {
    background: url("/assets/images/scissors.png") center;
    background-size: 30%;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

.scissors:hover {
    transform: scale(1.5);
}

/*Popup modal*/
.modal {
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);

    &>* {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    background: rgb(0 0 / 0.4);
}

/* extra styling */


.button {
    border: 0;
    cursor: pointer;
    background: var(--gray-8);
    color: var(--gray-2);
    font-weight: 700;
    padding: var(--size-2) var(--size-4);
}

.button:hover,
.button:focus {
    background: var(--cyan-9);
}

form {
    display: grid;
    gap: 1em;
}

.footer {
    display: flexbox;
    flex-direction: row-reverse;
    align: right;
    color: #393a3c;
}

.result-selection {
    opacity: .7;
}

.result-selection.winner {
    opacity: 1.5;
    size: 120%
}


/*styl eo*/

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: .1rem;
    font-size: .5rem;
    color: #333;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}