body {
    background-color: white;
    font-family: 'Bangers', cursive;
    size: 22px;
}

.gametitle {
    align-self: center;
    font-size: 90px;
    color: rgb(54, 53, 53);
    padding-top: 20px;
}

.title-makechoice {
    align-self: center;
    font-size: 50px;
    color: rgb(54, 53, 53);
    padding-top: 20px;
}



.gameoptions {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30%;
}

.vs {
    background: url("/assets/images/facestart.png");
    background-position: center;
    display: block;
    background-size: 70%;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
}

.vs2 {
    background: url("/assets/images/facehand.png");
    background-position: center;
    display: block;
    background-size: 70%;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
}


/* Choose weapon section*/
.chooseweapon {
    height: 100px;
    width: 60%;
    align-self: center;
    border: 0;
}

.rock {
    background: url("/assets/images/rock.png") center;
    background-size: 30%;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

.paper {
    background: url("/assets/images/paper.png") center;
    background-size: 30%;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

.scissors {
    background: url("/assets/images/scissors.png") center;
    background-size: 30%;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
}

.scissors:hover {
    background: url("/assets/images/scissors.png");
    background-size: 30%;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 150px;
    text-decoration: underline;
}

/*Popup modal*/
.trigger{
    text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
